<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
        <center>
            <h1> DATOS UNIVERSIDADES DE CHILE</h1>
            <h2> La información recolectada se obtuvo de las páginas de transparencias de las respectivas Universidades</h2>
        <p></p>
        <input type="button" class="btn btn-primary" value="Universidad Antofagasta" onclick = "location='listaAntofagasta'"/>
        <p></p>
        <input type="button" class="btn btn-primary" value="Universidad de Santiago de Chile" onclick = "location='listaUSACH'"/>
        <p></p>
        <input type="button" class="btn btn-primary" value="Universidad Tecnológica Metropolitana" onclick = "location='listaUTEM'"/>
        <p></p>
</body>
</html>